<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="leaderboard.css">
</head>
<body>
    <a href="expense.html" class="backbtn">←</a>
    <section class="leader-section">
        <div class="image">
          <img src="https://images.unsplash.com/photo-1664192579086-fe10c4de4d46?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQzfHhqUFI0aGxrQkdBfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="" width="500px" height="600px">
        </div>
        <div class="usersdata">
            <h1>All Users</h1>
            <div id="lb">  
            </div>
            <div id="details">
            </div>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="leaderboard.js"></script>
</body>
</html>