<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="signup.css">
    <script src="signup.css"></script>
</head>
<body>


    <section class="Signup-complete-details">

           <section class="signup">
              <div class="signup-img">

              </div>
                <div class="signup-details">
                <h1>Login</h1>
                <br>
                <br>
                <form  onsubmit="login(event)">

              
                <input type="email" name="email" placeholder="Email" required/>
   
                <input type="password" name="password" placeholder="Confirm Password" required/><br>

                <button id="signup-btn">login</button><br><br>
                <p>Don't have Account?<a href="./signup.html" class="signup">sign up</a></p>
                </form>  
            </div>
           </section>

    </section>   
   


     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>


    <script src="login.js"></script>
</body>
</html>