<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css">
    <script src="signup.css"></script>
</head>
<body>


    <section class="Signup-complete-details">

           <section class="signup">
              <div class="signup-img">

              </div>
                <div class="signup-details">
                <h1>Sign Up</h1>
                <br>
                <br>
                <form  onsubmit="signup(event)">

                    <input type="name" name="name" placeholder="Name" required/>
              
                <input type="email" name="email" placeholder="Email" required/>
   
                <input type="password" name="password" placeholder="Confirm Password" required/><br>

                <button id="signup-btn">SignUp</button>
                </form>  
            </div>
           </section>

    </section>   
   


     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>


    <script src="signup.js"></script>
</body>
</html>